@model List<DomainObjects.News>

@{
    ViewBag.Title = "Admin Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("NewsSearch", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "update",
    LoadingElementId = "loader"
}))
{
    @Html.TextBox("name")
    <input type="submit" value="Search" />
}



<div id="loader" class=" aletr" style="display:none">
    Loading...
</div>
<div id="update">
</div>

<table class="table">
    <tr>
        <th>
            Заголовок новости
        <th>
            Тело новости
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                Пока пусто...
                @if (item.Status == Infrastruction.CarStatus.Free)
                {
                    @:You can rent this car:
                }
                @Html.DisplayFor(modelItem => item.CarName)<br/>

                @Html.Partial("CarStatus", item)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.NewsID }) |
                @Html.ActionLink("Details", "Details", new { id = item.NewsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NewsID })
            </td>
        </tr>
    }

</table>